@model AstronomerNotebook.Models.Cluster

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Cluster</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Constellation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Constellation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ClusterType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClusterType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ApparentMagnitude)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ApparentMagnitude)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RightAscension)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RightAscension)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Declination)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Declination)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
