@model IEnumerable<AstronomerNotebook.Models.Cluster>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Name")
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Constellation)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ClusterType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ApparentMagnitude)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RightAscension)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Declination)
        </th>
        <th>
            @Html.DisplayName("Discovered By")
        </th>
        <th>
            @Html.DisplayName("Parent Galaxy")
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Constellation)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ClusterType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ApparentMagnitude)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RightAscension)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Declination)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Astronomer.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Galaxy.Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
            @Html.ActionLink("Details", "Details", new { id = item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.Id })
        </td>
    </tr>
}

</table>
