@model PagedList.IPagedList<AstronomerNotebook.Models.Star>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
@using (Html.BeginForm("Index", "Stars", FormMethod.Get))
{
    <p>
        Find by name: @Html.TextBox("SearchString", ViewBag.CurrentFiter as string)
        <input type="submit" value="Search" />
    </p>
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Astronomer Name")
        </th>
        <th>
            @Html.DisplayName("Cluster Name")
        </th>
        <th>
            @Html.ActionLink("Star Name", "Index", new { sortOrder = ViewBag.NameSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            @Html.DisplayName("Constellation")
        </th>
        <th>
            @Html.DisplayName("Apparent Magnitude")
        </th>
        <th>
            @Html.DisplayName("Right Ascension")
        </th>
        <th>
            @Html.DisplayName("Declination")
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Astronomer.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cluster.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Constellation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ApparentMagnitude)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RightAscension)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Declination)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>
<br />
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index", new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))